body {
    background-color: rgb(209, 167, 217);
    font-family: 'Courier New', Courier, monospace
}

#root {
    background-color: purple;
    margin: 25px;
    border-radius: 10px;
    border: 3px solid orange
}