@import './styles/dive.scss';
@import './styles/cocktail.scss';
@import './styles/rooftop.scss';
@import './styles/natty.scss';

body {
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
}

// #root {
//     background-color: purple;
//     margin: 25px;
//     border-radius: 10px;
//     border: 3px solid orange
// }

#map {
    height: 500px;
    min-width: 520px;
    border-radius: 15px;
    border: 10px solid white;
}

h1 {
    color: white;
    font-family: 'Rock Salt', cursive;
}

// html, body {
//     color: black;
//     width: 520px;
//     margin: 20px;
//     padding: 0;
//   }

#info {
    display: flex;
    border-radius: 15px;
    align-items: center;
    border: 10px solid white;
    background-color: rgb(181, 181, 181);
    width: 500px;
    height: 240px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    
}

.info_flash {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1.5s;
}

#photo {
    display: flex;
    align-items: center;
    margin-right: 10px ;
}

#photo .pic {
    width: 200px;
    max-height: 240px;
}

#title .pic {
    height: 90px; 
    max-width: 290px;
}

#bop {
    display: flex;
    border-radius: 15px;
    justify-content: center;
    border: 10px solid white;
    background-color: rgb(181, 181, 181);
    width: 500px;
    height: 180px;
    margin-left: 20px;
    padding: 10px;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    width: 1098px;
    justify-content: space-between;
}

.main {
    display: flex;
}

.controls {
    border-radius: 15px;
    border: 10px solid white;
    background-color: rgb(181, 181, 181);
    width: 306px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.controls .vibe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.controls button:hover {
    background-color: rgb(145, 145, 145);

  }

.controls button#active {
    background-color: rgb(78, 78, 78);
}

@-webkit-keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}

.author {
    display: flex;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    border: 10px solid white;
    background-color: rgb(181, 181, 181);
    width: 330px;
    height: 50px;
    margin-left: 20px;
}

.links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.ian {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}


