@import './styles/dive.scss';
@import './styles/cocktail.scss';
@import './styles/rooftop.scss';
@import './styles/natty.scss';

body {
    margin-top: 50px;
    background-color: black;
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
}

.splash {
    font-size: x-large;
    position:fixed;
    top: 50%;
    left: 50%;
    height: 98%;
    width: 98%;
    transform: translate(-50%, -50%);
    background-color: black;
    transition: all ease-in-out 600ms;
    z-index: 10;
    display:flex;
    align-items: center;
    flex-direction: column;
    color: white;
}

#splash_row {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}

#splash_button {
    background-color: white;
    border: 5px solid grey;
    display: flex;
    flex-direction: column;
    margin: 20px;
    border-radius: 3px;
}

#splash_button > .vibe {
    height: 35px;
    width: 100%;
    font-size:large;
    display: flex;
    align-items: center;
    justify-content: center;
    // background-color: green;
}

#splash_button:hover {
    box-shadow: 0px 0px 55px 10px rgba(255, 255, 255, 0.49);
    cursor: pointer;
}

#map {
    height: 500px;
    min-width: 520px;
    border-radius: 15px;
    border: 10px solid white;
}

.gm-style-cc {
    display: none;
}

h1, h2 {
    color: white;
    font-family: 'Rock Salt', cursive;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.splash > p {
    margin: 0px;
    // font-family: Arial, Helvetica, sans-serif;
    font-family: 'Rock Salt';
    font-size: small;
}

#info {
    display: flex;
    border-radius: 15px;
    align-items: center;
    border: 10px solid white;
    background-color: rgb(181, 181, 181);
    width: 500px;
    height: 250px;
    margin-left: 20px;
    margin-bottom: 20px;
    padding: 10px;
    position: relative;
}

#info_overlay {
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit; 
    width: 490px;
    height: 240px;
    padding: inherit;
    position: absolute;
    z-index: 1;
}

#deets {
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
}

.cocktail-nxt-button, .dive-nxt-button, .rooftop-nxt-button, .natty-nxt-button, .info_flash {
    -webkit-animation: fadeEffect 1s;
    animation: fadeEffect 1.5s;
}

#photo {
    display: flex;
    align-items: center;
    margin-right: 10px ;
}

#photo .pic {
    width: 200px;
    max-height: 220px;
}

#title .pic {
    height: 90px; 
    max-width: 290px;
}

#bop {
    font-size: xx-large;
    display: flex;
    flex-direction: column;
    border-radius: 15px;
    align-items: center;
    justify-content: space-around;
    border: 10px solid white;
    background-color: rgb(181, 181, 181);
    margin-left: 20px;
    width: 500px;
    height: 170px;
    padding: 10px;
    position: relative;
    // gap: 25px;
    // z-index: 1;
}

#bop_buttons {
    display: flex;
    gap: 25px;
    // align-items: center;
    // justify-content: center;
}

#instructions_overlay {
    color: white;
    font-family: 'Rock Salt', cursive;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: inherit; 
    width: 490px;
    height: 165px;
    padding: 0px;
    position: absolute;
    z-index: 5;
    border-radius: 15px;
    // margin-left: 20px;
    // margin-top: 10px;
}

#switch_text {
    width: 100%;
    // height: 100%;
    text-align: center;
    margin-top: 0px;
    // display: flex;
    // align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}

#bop_switch, #bop_switch2 {
    width: 160px;
    height: 90px;
    // height: 85%;
    border-radius: 10px;
    // border: 3px grey solid;
    box-shadow: 2px 2px 2px grey;
    // background-color: inherit;
    // font-family: 'Rock Salt', cursive;
    font-size: large;
    // background-color: white;
}

.cocktail-nxt-button, .dive-nxt-button, .natty-nxt-button, .rooftop-nxt-button {
    background: rgb(166,164,164);
    background: linear-gradient(45deg, rgba(166,164,164,1) 0%, rgba(255,255,255,1) 100%);
}

#next_vibe_logo {
    max-height: 75%;
    max-width: 85%;
}

#bop_right {
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin: 0px;
    padding: 0px;
    border: none;
    background-color: transparent;
}

#bop_right:hover, #bop_switch:hover,  #bop_switch2:hover{
    cursor: pointer;
}

#bop_switch:hover {
    box-shadow: 4px 4px 4px grey;
}

#bop_switch:hover > #next_vibe_logo {
    max-height: 85%;
    max-width: 100%;
}

.cocktail-nxt-button:hover {
    background: linear-gradient(45deg, rgba(166,164,164,1) 0%, rgba(68,49,141,1) 85%);
}

.dive-nxt-button:hover {
    background: linear-gradient(45deg, rgba(164,164,164,1) 0%, rgba(111,34,50,1) 60%);
}

.natty-nxt-button:hover {
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(212,165,154,1) 65%);
}

.rooftop-nxt-button:hover {
    background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(55,71,133,1) 85%);
}

#switch_arrow {
    height: 95px;
}

#switch_arrow:hover {
    transition: 0.70s;
    -webkit-transition: 0.70s;
    -moz-transition: 0.70s;
    -ms-transition: 0.70s;
    -o-transition: 0.70s;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
    height: 105px;
}

#bop_info {
    width: 500px;
    height: 100px;
    border: 10px solid white;
    background-color: rgb(181, 181, 181);
    border-radius: 15px;
    display: flex;
    align-items: center;
    padding: 10px;
    // gap: 10px;
}

#boptext {
    // width: 20%;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.bop_logo {
    padding-top: 10px;
    max-width: 90px;
}

.container {
    display: flex;
    flex-direction: column;
}

.navbar {
    display: flex;
    width: 1098px;
    justify-content: space-between;
}

.main {
    display: flex;
}

.controls {
    border-radius: 15px;
    border: 10px solid white;
    background-color: rgb(181, 181, 181);
    width: 306px;
    height: 50px;
    margin-right: 20px;
    margin-bottom: 20px;
}

.controls .vibe {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 17px;
}

.vibe-left {
    border-top-left-radius: 15px;
}

.vibe-right {
    border-top-right-radius: 15px;
}

.vibe-left:hover {
    border-top-left-radius: 5px;
}

.vibe-right:hover {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.vibe-left#active {
    border-top-left-radius: 5px;
    // border-bottom-left-radius: 5px;
}

.vibe-right#active {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.controls button:hover {
    background-color: rgb(145, 145, 145);
  }

.controls button#active {
    background-color: rgb(78, 78, 78);
}

@-webkit-keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}

@keyframes fadeEffect {
from {opacity: 0;}
to {opacity: 1;}
}

.author {
    display: flex;
    border-radius: 15px;
    justify-content: space-around;
    align-items: center;
    border: 10px solid white;
    background-color: rgb(181, 181, 181);
    width: 330px;
    height: 50px;
    margin-left: 20px;
}

.links {
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 5px;
}

.ian {
    display: flex;
    align-items: center;
    margin-right: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: xx-large;
}

@media screen and (max-width: 1200px) {
    #map {
        width: 50%;
    }

}